<header class="header">
    <div class="header-container">
        <h1 class="header-title">FitDashy</h1>
        <nav>
            <ul>
                <li>
                    <a routerLink="/dashboard" routerLinkActive="active">
                        <link rel="preload" as="image" href="https://img.icons8.com/?size=30&id=JCtrMfKlpJVk&format=png&color=ffffff">
                        <img src="https://img.icons8.com/?size=30&id=JCtrMfKlpJVk&format=png&color=ffffff">
                        Dashboard
                    </a>
                </li>
                <li>
                    <a routerLink="/diet" routerLinkActive="active">
                        <link rel="preload" as="image" href="https://img.icons8.com/?size=35&id=67233&format=png&color=757575">
                        <img src="https://img.icons8.com/?size=30&id=67233&format=png&color=ffffff">
                        Diet
                    </a>
                </li>
                <li>
                    <a routerLink="/exercise" routerLinkActive="active">
                        <link rel="preload" as="image" href="https://img.icons8.com/?size=35&id=9769&format=png&color=757575">
                        <img src="https://img.icons8.com/?size=30&id=9769&format=png&color=ffffff">
                        Exercise
                    </a>
                </li>
            </ul>
        </nav>
        <button (click)="logout()">Logout</button>
    </div>
</header>