@use 'mixins' as *;

form {
    width: 60%;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
}

h1 {
    text-align: center;
    font-size: 50px;
    margin-bottom: 10px;
}

a {
    text-align: center;
    font-size: 12px;
    margin-bottom: 15px;
    color: var(--txt-clr2);
    @include smooth-transition();
}

a:hover {
    color: var(--txt-clr2-hvr);
}

input {
    background-color: transparent;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    color: var(--txt-clr);
    flex-grow: 1;

    &:focus {
        outline: none;
    }
}

.input-container {
    display: flex;
    background-color: var(--bg-clr3);
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid transparent;
    @include smooth-transition();
    
    &:focus-within {
        border: 1px solid white;
    }
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 25px;
}

.submit {
    @include button;
    @include smooth-transition();
    width: 50%;
    margin: 0 auto;
}